<h1>Listing dishes</h1>

<table>
  <tr>
    <th>Dishid</th>
    <th>Dishname</th>
    <th>Price</th>
    <th>Discount</th>
    <th>Currency</th>
    <th>Tag</th>
    <th>Buynum</th>
    <th>Dishimage</th>
    <th>Description</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @dishes.each do |dish| %>
  <tr>
    <td><%= dish.DishID %></td>
    <td><%= dish.DishName %></td>
    <td><%= dish.Price %></td>
    <td><%= dish.Discount %></td>
    <td><%= dish.Currency %></td>
    <td><%= dish.Tag %></td>
    <td><%= dish.BuyNum %></td>
    <td><%= dish.DishImage %></td>
    <td><%= dish.Description %></td>
    <td><%= link_to 'Show', dish %></td>
    <td><%= link_to 'Edit', edit_dish_path(dish) %></td>
    <td><%= link_to 'Destroy', dish, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Dish', new_dish_path %>
